html{
    scroll-behavior: smooth;
}
@font-face {
    font-family: DosisBold;
    src: url(images/Dosis-ExtraBold.otf);
  }
body{
    font-family: 'DosisBold', sans-serif;
    align-content: center;
    
}
h1{
    font-weight: 900;
    font-size: 49px;
    color:white;
}
h5{
    font-family: dosis;
    font-weight: 900;
    font-size: 16px;
    color:rgb(10, 10, 10);
}
a{
    font-weight: 900;
    text-decoration: none;
}
#heading{
    font-weight: 999;
    color: white;
    font-size: 40px;

}
#heading-dark{
    font-weight: 999;
    color: rgb(0, 0, 0);
    font-size: 40px;
}

#text-white{
    color:white;
    font-weight: 999;
}
#text-grey{
    color:rgb(124, 117, 117);
    font-weight: 999;
}
.sub-text{
    font-family: Dosis;
    font-size: 21px;
    font-weight: bolder;
    margin-bottom: -5px;
}
.small-text{
    font-family: Dosis;
    font-size: 14px;
}
#sub-heading{
    font-family: Dosis;
    font-size: 6vh;
    font-weight: 10; 
    color:white;
}
#top-image{
    width:100%;
    height: 100vh ;
    background-image: url("images/Banner_image.png");
    background-position-y: -160px;
}
@media screen and (-webkit-min-device-pixel-ratio:2) {
    #top-image{
        height: 80vh;
        background-position-x: 1100px;
        background-position-y: -350px;
    }
}
.narrow{
    padding:4px 300px;
}

.navbar{
    background-color: rgba(0, 0, 0, 0);
    border: none;
    padding:25px 100px;
}
#sponsors{
    padding: 30px 100px;
}
@media screen and (-webkit-min-device-pixel-ratio:2) {
    .navbar{
        background-color: rgba(0, 0, 0, 0);
        border: none;
        padding:0px 0px;
    }
    .narrow{
        padding:4px 20px;
    }
    #sponsors{
        padding: 20px 10px;
    }
  }
li{
    border-radius: 100px;
    font-weight: 999;
}
li:hover{
    background-color:#fa005e;
}
li:active{
    background-color:rgb(255, 255, 255);
}
li:active #navi{
    color:rgb(39, 39, 39);
}
#navi{
    color:white;
    font-size: 17px;
    font-weight: 999;
}

#button{
    font-weight: 999;
    font-size: 2.5vh;
    border:solid rgb(255, 255, 255);
    border-radius: 100px;
    text-decoration: none;
    color:rgb(255, 255, 255);
    padding: 12px 55px;
    -webkit-animation-name: button-blink; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 0.8s; /* Safari 4.0 - 8.0 */
    animation-name: button-blink;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes button-blink {
    0% {padding: 12px 55px;}
    50% {padding: 13px 55.5px;
        /* text-shadow: 1px 1px 2px black, 0 0 5px rgb(230, 230, 248); */
        box-shadow: 0px 0px 2px rgb(179, 171, 171), 0 0 5px rgb(255, 255, 255);}
    100% {padding: 12px 55px;}
  }
  
  /* Standard syntax */
  @keyframes button-blink {
    0% {padding: 12px 55px;}
    50% {padding: 12px 55.5px;
        /* text-shadow: 1px 1px 2px black, 0 0 5px rgb(230, 230, 248); */
        box-shadow: 0px 0px 2px rgb(179, 171, 171), 0 0 5px rgb(255, 255, 255);}
    100% {padding: 12px 55px;}
  }
#button-dark{
    font-weight: 999;
    font-size: 2.5vh;
    border:solid rgb(255, 255, 255);
    border-radius: 100px;
    text-decoration: none;
    color:rgb(255, 255, 255);
    padding: 12px 55px;
    background-color: #fa005e;
}
#button-dark:hover{
    background-color: rgb(59, 53, 58);
}
#button-dark:active{
    background-color: #fa005e;
}
.turn-pink:hover{
 background-color: #fa005e;
}
.turn-pink:active{
    background-color: rgba(36, 33, 33, 0.945);
}

.turn-grey:hover{
    background-color: rgb(59, 53, 58);
   }
   .turn-grey:active{
    background-color: #ff0062;
}
#circle-border{
    width: 50%;
}
#spons-img{
    width:100%;
    height: 25vh;
}
#faq-logo{
    height: 80px;
    width:90px;
}
#aboutus-recent{
    background-color: #1a1c28;
    padding: 50px 250px;
}

#header-top{
    font-size: 20px;
    color: rgb(150, 150, 151);
}

.thumbnail {
    width: 40vh;
     height: auto;
     padding-top: 10px;
     padding-bottom: 10px;
 }
@media screen and (-webkit-min-device-pixel-ratio:2) {
    .thumbnail{
        width: 100%;
    }
    #spons-img{
        width:100%;
        height: 170px;
    }
    #aboutus-recent{
        padding: 10px 20px;
    }
    #circle-border{
        width: 90%;
    }
}
#header-top strong{
    color:white;
}

#dash-grey{
    display: inline-block;
    border-top: solid rgba(122, 122, 122, 0.89);
    
    border-width: 2px;
    width: 180px;
}
#dash-blue{
    display: inline-block;
    border-top: solid rgb(37, 124, 253);
    border-width: 2px;
    width: 70px;
}
#dash-red{
    display: inline-block;
    border-top: solid rgb(248, 76, 76);
    border-width: 2px;
    width: 80px;
}
#soc-tag{
    margin-right: 10px;
}
#footer{
    background-color: #141622;
}
#copyright-img{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
    display: inline-block;
    border: solid white;
    border-width: 1px;
    border-radius: 50%;
    padding: 0px 3px;
    margin-right: 5px;
}

.registerHere {
    margin-bottom: 40px;
}
